Nathan Jodoin <nathanjodoin@my.unt.edu> 
Nathan Jodoin <nathanjodoin@my.unt.edu> <nathanjodoin@myunt.edu>
Nathan Jodoin <nathanjodoin@my.unt.edu> <nathan@Nathans-MacBook-Pro.local>
Nathan Jodoin <nathanjodoin@my.unt.edu> <nathan@dynamic-10-125-223-12.frisco.wireless.unt.edu>